.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-color: rgb(210, 180, 140);
 
}

