.navBar {
    background-color: #002147;
    color: rgb(210, 180, 140);
    position: fixed;
    z-index: 999;
    top: 0;
}

.navMenu {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.navLink {
    font-size: 1rem;
    opacity: 0.9;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.navLink:hover {
    opacity: 1.1;
    filter: drop-shadow(0 4px 12px rgba(210, 180, 140, 0.5));
}

.navSpace {
    width: 10rem;
}