@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: antiquewhite;
  font-family: 'playfair Display', serif;
}

li{
  list-style: none;
}

input{
  color: #000000c4;
}

input::placeholder{
  color: #000000c4;
}